<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dzumi.app.demo.demot3h">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <permission-group android:name="android.permission-group.STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- telephone & sms -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-feature android:name="android.hardware.telephony" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".modules.telephone_and_sms.OutCallLogger"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PRECISE_CALL_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.user_interface.LoginActivity"
            android:label="@string/title_activity_ui_login2"
            android:theme="@style/AppTheme.DarkLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.user_interface.SignupActivity"
            android:theme="@style/AppTheme.DarkLogin" />
        <activity
            android:name=".modules.app_components.OverviewsActivity"
            android:label="@string/title_activity_overview_appcomponents"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.HelloWorld"
            android:label="@string/title_activity_hello_world">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.app_components.content_provider.ActivitySampleContactList1"
            android:label="@string/title_activity_sample_contact_list1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <!-- module telephone & sms -->
        <!--
        <receiver android:name=".modules.telephone_and_sms.IncomingCallInterceptor">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".modules.telephone_and_sms.SampleCallLog"
            android:label="@string/title_activity_sample_call_log"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.user_interface.views.DemoCircleProgressBar" />
        <activity
            android:name=".modules.storage.shared_preference.SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.storage.shared_preference.SampleSharedPreferences"
            android:label="@string/title_activity_sample_shared_preferences"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.storage.in_external.SampleFileExplorer"
            android:label="@string/title_activity_sample_file_explorer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.app_components.activities.fragments.ActivityGalleryScreen" />
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".modules.admod_ads.AdsBannerActivity"
            android:label="@string/title_activity_banner_ads">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".modules.admod_ads.AdsInterstitalActivity"
            android:label="@string/title_activity_ads_interstital">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.app_components.activities.fragments.DemoStackActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.resource.SupportMultiLangActivity" />
        <activity android:name=".modules.resource.DemoValuesResActivity"
            android:label="@string/title_activity_resource_value"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="dzumi.intent.category.DEMO" />
            </intent-filter>

        </activity>
    </application>

</manifest>